
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* Collapsible animation */
[data-state='open'] > [data-collapsible-trigger-icon] {
  transform: rotate(180deg);
}

/* Rotating arrows for FAQ */
.ui-open\:rotate-180[data-state='open'] {
  transform: rotate(180deg);
}
